.EmployeeStates-ButtonGroup .MuiToggleButtonGroup-root {
    border: 1px solid #eceef1;
    overflow: hidden;
}

.EmployeeStates-ButtonGroup .MuiToggleButton-root {
    margin: 0px !important;
}

.EmployeeStates-ButtonGroup .MuiToggleButton-root:not(:first-child) {
    padding-left: 20px;
}

.EmployeeStates-ButtonGroup .MuiToggleButton-root:not(:last-child):hover:after {
    border-right: 2px solid #f5f5f5;
    border-top: 2px solid #f5f5f5;
    background-color: #f5f5f5;
}

.EmployeeStates-ButtonGroup .MuiToggleButton-root:not(:last-child):after {
    content: '';
    position: absolute;
    margin: auto;
    left: calc(100% - 12px);
    right: 0px;
    width: 24px;
    height: 24px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    border-right: 2px solid #eceef1;
    border-top: 2px solid #eceef1;
    background: white;
    z-index: 2;
    -webkit-clip-path: polygon(calc(100%) calc(100%), calc(100%) 0px, 0px 0px);
    clip-path: polygon(calc(100%) calc(100%), calc(100%) 0px, 0px 0px);
}

.EmployeeStates-ButtonGroup .MuiToggleButton-root.Mui-selected,
.EmployeeStates-ButtonGroup .MuiToggleButton-root.Mui-selected:hover {
    background-color: #0056d9;
    color: white;
}

.EmployeeStates-ButtonGroup .MuiToggleButton-root.Mui-selected:after {
    background-color: #0056d9;
    border-right: 2px solid #0056d9;
    border-top: 2px solid #0056d9;
}

.EmployeeStates-ButtonGroup .MuiToggleButton-root.Mui-selected:not(:last-child):hover:after {
    background-color: #0056d9;
    border-right: 2px solid #0056d9;
    border-top: 2px solid #0056d9;
}
